Repository LtbLightning/bdk-flutter: changes, and which lefthook commands are due for each by the changed paths.
All: dart_fix, dart_format, rust_format

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    dart_fix:
      glob: "*.dart"
      run: dart fix lib --apply && git add .
    dart_format:
      glob: "*.dart"
      run: dart format . && git add .
    rust_format:
      glob: "*.rs"
      run: cd rust && cargo fmt && git add .

pre-push:
  parallel: true
  commands:
    # flutter_test:
    #   run: flutter test
    # rust_test:
    #   run: cargo test
    flutter_analyze:
      run: flutter analyze
    # rust_clippy:
    #   run: cd rust && cargo clippy -- -D warnings

refactor: remove unused mock variables from test cases
  test/bdk_flutter_test.dart
Due: dart_fix, dart_format

refactor: remove unnecessary mutable bindings
  rust/src/api/store.rs
Due: rust_format

refactor: dependencies upgraded
  CHANGELOG.md
  README.md
  example/android/app/build.gradle
  example/integration_test /multi_sig_test.dart
  example/pubspec.lock
  ios/Classes/frb_generated.h
  lib/src/generated/api/blockchain.dart
  lib/src/generated/api/blockchain.freezed.dart
  lib/src/generated/api/descriptor.dart
  lib/src/generated/api/error.dart
  lib/src/generated/api/error.freezed.dart
  lib/src/generated/api/key.dart
  lib/src/generated/api/psbt.dart
  lib/src/generated/api/types.dart
  lib/src/generated/api/types.freezed.dart
  lib/src/generated/api/wallet.dart
  lib/src/generated/frb_generated.dart
  lib/src/generated/frb_generated.io.dart
  lib/src/generated/lib.dart
  lib/src/root.dart
  lib/src/utils/exceptions.dart
  macos/Classes/frb_generated.h
  makefile
  pubspec.lock
  pubspec.yaml
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/frb_generated.rs
  test/bdk_flutter_test.dart
  test/bdk_flutter_test.mocks.dart
Due: dart_fix, dart_format, rust_format

fix: update Ubuntu version in workflow and NDK installation
  .github/workflows/precompile_binaries.yml
Due: none

fix: update Android Gradle plugin version to 8.4.0
  android/build.gradle
Due: none

chore: update CHANGELOG
  CHANGELOG.md
Due: none

fix: update CHANGELOG
  CHANGELOG.md
Due: none

fix: improve code formatting and update EsploraConfig documentation
  lib/src/generated/api/blockchain.dart
  lib/src/generated/frb_generated.io.dart
  rust/src/api/blockchain.rs
Due: dart_fix, dart_format, rust_format

Squashed 'cargokit/' content from commit 0db353a
  .github/workflows/check_and_lint.yml
  .github/workflows/test_example_plugin_build.yml
  .gitignore
  LICENSE
  README
  build_pod.sh
  build_tool/README.md
  build_tool/analysis_options.yaml
  build_tool/bin/build_tool.dart
  build_tool/lib/build_tool.dart
  build_tool/lib/src/android_environment.dart
  build_tool/lib/src/artifacts_provider.dart
  build_tool/lib/src/build_cmake.dart
  build_tool/lib/src/build_gradle.dart
  build_tool/lib/src/build_pod.dart
  build_tool/lib/src/build_tool.dart
  build_tool/lib/src/builder.dart
  build_tool/lib/src/cargo.dart
  build_tool/lib/src/crate_hash.dart
  build_tool/lib/src/environment.dart
  build_tool/lib/src/logging.dart
  build_tool/lib/src/options.dart
  build_tool/lib/src/precompile_binaries.dart
  build_tool/lib/src/rustup.dart
  build_tool/lib/src/target.dart
  build_tool/lib/src/util.dart
  build_tool/lib/src/verify_binaries.dart
  build_tool/pubspec.lock
  build_tool/pubspec.yaml
  build_tool/test/builder_test.dart
  build_tool/test/cargo_test.dart
  build_tool/test/options_test.dart
  build_tool/test/rustup_test.dart
  cmake/cargokit.cmake
  cmake/resolve_symlinks.ps1
  docs/architecture.md
  docs/precompiled_binaries.md
  gradle/plugin.gradle
  run_build_tool.cmd
  run_build_tool.sh
Due: dart_fix, dart_format
